<ul><li><u>Il peut administrer les comptes utilisateurs.</u></li>
Créer, modifier, supprimer des comptes, leur affecter des roles.
<li>Il peut également consulter, modifier, vérifier et valider les fiches.</li>.
</ul>