{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
<a class="btn btn-default" href="{{path('feod_warn')}}">{% trans %}Retour sur le site{% endtrans %}</a>
{% endblock %}
