{% extends '::base2.html.twig' %}

{% block body %}


<div class="col-sm-6 col-sm-offset-2">
<h2 class="text-center">Nombre de fiches en cours de création, vérification, validation</h2>
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge"> {{creation}} </span>
        Création
    </li>
    <li class="list-group-item">
        <span class="badge">{{verification}}</span>
        Vérification
    </li>
    <li class="list-group-item">
        <span class="badge">{{validation}}</span>
        Validation
    </li>
    <li class="list-group-item">
        <span class="badge">{{valide}}</span>
        Validée
    </li>
</ul>
</div>
{% endblock %}
