<!DOCTYPE html>
<html>
    <head>
		<style type="text/css">
			body {
			  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			  font-size: 14px;
			  line-height: 1.42857143;
			  background-repeat: no-repeat;
			  background-position: 5px 2px;
              background-color: #D8D8D8;
			  }
			.jumbotron {
			  padding-top: 30px;
			  padding-bottom: 30px;
			  margin-bottom: 30px;
			  color: inherit;
			  background-color: #eeeeee;
			  border-radius: 6px;
              box-shadow: 6px 6px 2px black;
			}
			.alert-danger {
			  background-color: #f2dede;
			  border-color: #ebccd1;
			  color: #a94442;
			}
			.col-md-6{
			  position: relative;
			  min-height: 1px;
			  padding-left: 15px;
			  padding-right: 15px;
			  float: left;
			  width: 50%;
			  margin-left: 25%;

			}
		</style>

        <meta charset="utf-8" />
				<link rel="stylesheet" href="../web/css/0f69fcc.css">
                <link rel=icon type="image/x-icon" href="favicon.ico">
		
		<title>FEOD - Page en Construction</title>
    </head>

    <body background="{{app.request.basepath}}/background.png">
		<header>
			<div class="col-md-6" style="text-align: center;">
				<br>
            <h1><strong>FEOD</strong></h1>
            <h3>Base de données techniques Française sur les munitions et explosifs.<br/>
                French Explosives <small>&</small> Ordnances Database.</h3>
            <h3 style="color: red">Diffusion restreinte.</h3>
				</div>
                    <div class="col-md-6" style="text-align: center">
                        <img src="{{app.request.basepath}}/constructions.png" height=330 width=500 title="piam.rens@intradef.gouv.fr" alt=""  />
</div>
                    <br>
                                <div class="col-md-6">
                                <div class="jumbotron alert-danger" style="text-align: center">
                                    <h2>PAGE EN CONSTRUCTION !</h2>
					</div>
                                    </div>
                                                                                                
			
		</header>
		

			<br>
            <div class="col-md-1" style="text-align:right;">
                <footer>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <I>Développé par : PIAM.</I>
                </footer>
            </div>

   </body>
</html>